

#search {
    float: right;
    margin-top: 9px;
    width: 250px;
}

.search {
    top: 10px;
    padding: 5px 0;
    width: 230px;
    height: 30px;
    position: relative;
    left: 0;
    float: left;
    line-height: 22px;
}



.search input {
    width: 200px;
    margin-right: 200px;

}

.search .btn {
    height: 34px;
    position: absolute;
    right: -0px;
    top: 5px;
    border-radius: 0px;

}
